@import './../../../../css/service';
@import './../../../../css/var';

.article__wrapper {
    @extend %width-limit;

    min-height: 100%;
    padding-bottom: $ui-unit * 3;
    padding-top: $ui-unit * 3;
}

.article__header {
    display: block;
    font-size: 36px;
    padding-bottom: 20px;
}

.article__list {
    display: block;
    list-style: none;
}

.article__list_item {
    display: block;
    padding: 4px 0;
}

.article__list_item__link {
    font-size: 16px;
}
