/* stylelint-disable selector-pseudo-class-no-unknown, max-nesting-depth, selector-max-compound-selectors, no-descending-specificity */

@import './../../../../css/service';
@import './../../../../css/var';

$space-between-blocks: 20px;

.article__wrapper {
    @extend %width-limit;

    height: auto;

    //min-height: 100vh;
    min-height: auto;
    padding-bottom: $ui-unit * 3;
    padding-top: $ui-unit * 2;

    &:before {
        content: '';
        display: block;
        float: right;
        min-height: 100vh;
        width: 0;
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

//.article__wrapper__min_height {
//display: block;
//float: right;
//min-height: 100vh;
//width: 0;
//}

.article__header {
    display: block;
    font-size: 36px;
    padding-bottom: 20px;
    word-break: break-word;
}

.article__list_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

.article__list_audio {
    display: block;
    list-style: none;
}

.article__list_header {
    column-count: 3;
    column-gap: $ui-unit * 4;
    column-rule: 1px solid $color-border;
    display: block;
}

.article__list_image_item {
    box-sizing: border-box;
    display: block;
    height: 170px;
    margin-bottom: $space-between-blocks;
    margin-right: $space-between-blocks;
    position: relative;
    width: calc((100% - #{$space-between-blocks * 3}) / 4);

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.article__list_audio_item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 4px 4px 16px;

    &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.08);
    }
}

.article__list_header_item {
    display: block;
    font-size: $main-font-size;
    width: 100%;
}

.article__list_header_item__link {
    display: inline-block;
    font-size: $main-font-size;
    padding-bottom: $ui-unit;
    padding-top: $ui-unit;
}

.article__list_audio_item__link {
    @extend %ellipsis;

    font-size: $main-font-size;
    max-width: calc(50% - 20px);
    padding-bottom: $ui-unit;
    padding-top: $ui-unit;
}

.article__list_audio_item__audio {
    box-sizing: border-box;
    display: block;
    max-height: 40px;
    width: 50%;
}

:global {
    .tablet {
        :local {
            .article__list_image_item {
                margin-right: $space-between-blocks;
                width: calc((100% - #{$space-between-blocks * 2}) / 3);

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

            .article__list_header {
                column-count: 2;
            }
        }
    }

    .mobile {
        :local {
            .article__list_image_item {
                height: 120px;
                margin-right: $space-between-blocks;
                width: calc((100% - #{$space-between-blocks * 1}) / 2);

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            .article__list_header {
                column-count: 1;
            }

            .article__list_audio_item {
                background-color: transparent;
                display: block;
                margin-bottom: 16px;
                padding: 0;
            }

            .article__list_audio_item__audio {
                display: block;
                margin-left: 12px;
                width: calc(100% - 12px);
            }

            .article__list_audio_item__link {
                display: inline-block;
                max-width: 100%;
            }
        }
    }
}
