// copy from https://markdown-it.github.io/

/* stylelint-disable no-descending-specificity, selector-no-qualifying-type */

.markdown_wrapper {
    display: block;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;

        small {
            color: #777;
            font-weight: normal;
            line-height: 1;
        }
    }

    h1,
    h2,
    h3 {
        margin-bottom: 10px;
        margin-top: 20px;

        small {
            font-size: 65%;
        }
    }

    h4,
    h5,
    h6 {
        margin-bottom: 10px;
        margin-top: 10px;

        small {
            font-size: 75%;
        }
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    p {
        font-size: 16px;
        margin: 0 0 10px;
    }

    small {
        font-size: 85%;
    }

    cite {
        font-style: normal;
    }

    mark {
        background-color: #fcf8e3;
        padding: 0.2em;
    }

    ul,
    ol {
        margin-bottom: 10px;
        margin-top: 0;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
        margin-bottom: 0;
    }

    dl {
        margin-bottom: 20px;
        margin-top: 0;
    }

    dt,
    dd {
        line-height: 1.42857143;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 0;
    }

    blockquote {
        border-left: 5px solid #eee;
        font-size: 17.5px;
        margin: 0 0 20px;
        padding: 10px 20px;
    }

    blockquote p:last-child,
    blockquote ul:last-child,
    blockquote ol:last-child {
        margin-bottom: 0;
    }

    blockquote footer,
    blockquote small,
    blockquote .small {
        color: #777;
        display: block;
        font-size: 80%;
        line-height: 1.42857143;
    }

    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
        content: '\2014 \00A0';
    }

    blockquote:before,
    blockquote:after {
        content: '';
    }

    address {
        font-style: normal;
        line-height: 1.42857143;
        margin-bottom: 20px;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    }

    code {
        background-color: #f9f2f4;
        border-radius: 4px;
        color: #c7254e;
        font-size: 90%;
        padding: 2px 4px;
    }

    kbd {
        background-color: #333;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        font-size: 90%;
        padding: 2px 4px;
    }

    kbd kbd {
        box-shadow: none;
        font-size: 100%;
        padding: 0;
    }

    pre {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
        display: block;
        font-size: inherit;
        line-height: 1.42857143;
        margin: 0 0 10px;
        padding: 9.5px;
        word-break: break-all;
        word-wrap: break-word;
    }

    pre code {
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        font-size: inherit;
        padding: 0;
        white-space: pre-wrap;
    }

    abbr[title],
    abbr[data-original-title] {
        border-bottom: 1px dotted #777;
        cursor: help;
    }

    img {
        max-width: 35%;
    }
}
