/* stylelint-disable selector-pseudo-class-no-unknown, max-nesting-depth, selector-max-compound-selectors, selector-combinator-blacklist */

@import './../../../../css/var';
@import './../../../../css/service';

// header wrapper
.header__wrapper {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: $client-desktop-header-height;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: $z-index-header;
}

:global .desktop {
    :local {
        .header__wrapper {
            height: $client-desktop-header-height;
        }
    }
}

:global .tablet {
    :local {
        .header__wrapper {
            height: $client-tablet-header-height;
        }
    }
}

:global .mobile {
    :local {
        .header__wrapper {
            height: $client-mobile-header-height;
        }
    }
}

// top desktop line
.header__desktop__top_line {
    @extend %width-limit;

    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

.header__desktop__logo {
    color: $main-text-color;
    display: block;
    font-size: 20px;
    padding: 10px 10px 10px 0;
    text-decoration: none;
}

.header__desktop__search_input {
    background-image: url('./image/searh-icon.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    border: 1px solid $color-border;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    padding: 10px 40px 10px 10px;
    width: 240px;
}

// desktop menu line
.header__desktop__menu_line__wrapper {
    background-image: linear-gradient(90deg, $color-yellow 0, $color-orange 100%);
}

.header__desktop__menu_line {
    @extend %width-limit;

    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
}

.header__desktop__menu_line__link {
    @extend %link;

    color: $main-text-color;
    display: block;
    font-size: 16px;
    margin-right: $ui-unit * 4;

    &:last-of-type {
        margin-right: 0;
    }
}

// mobile menu line
.header__mobile__top_line {
    @extend %width-limit;

    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

%header-mobile-button {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    display: block;
    height: 100%;
    width: 50px;
}

.header__mobile__button__menu {
    @extend %header-mobile-button;

    background-image: url('./image/menu-icon.svg');

    &.header__mobile__button__menu__close {
        background-image: url('./image/menu-close-icon.svg');
    }
}

.header__mobile__button__search {
    @extend %header-mobile-button;

    background-image: url('./image/searh-icon.svg');
    background-size: 45% 45%;
}

.header__mobile__navigation_wrapper {
    @extend %width-limit;

    background-color: $color-yellow;

    .header__desktop__menu_line__link {
        border-bottom-color: $main-text-color;
        margin-right: 0;
        padding: 10px 0;
    }
}

.header__wrapper + .header__mobile__navigation_wrapper {
    z-index: $z-index-page-wrapper + 1;
}
