@import './../../../../../../css/var';
@import './../field.style';

.form__input__select {
    @extend %form--input;

    appearance: none;
}

.form__label_wrapper__select {
    @extend %form--label-wrapper;

    position: relative;

    &:after {
        border: 5px solid transparent;
        border-top-color: $main-text-color;
        bottom: 36px;
        content: '';
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 17px;
        width: 0;
    }
}
