$button-size: 38px;
$button-image-size: 28px;
$border-radius: 4px;
$main-background-color: #fff;
$main-text-color: #333;
$button-image-active-background-color: #e5e5e5;

.audio_player_control__wrapper {
    background-color: $main-background-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    display: block;
    height: 95px;
    margin: 0 auto;
    //max-width: 980px;
    max-width: 320px;
    min-width: 320px;
    padding: 6px 8px 8px;
}

.audio_player_control__button__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.audio_player_control__button__image {
    border-radius: $border-radius;
    box-sizing: border-box;
    display: block;
    height: $button-image-size;
    padding: 4px;
    width: $button-image-size;
}

.audio_player_control__button {
    border-radius: $border-radius;
    box-sizing: border-box;
    display: block;
    height: $button-size;
    padding: ($button-size - $button-image-size) / 2;
    width: $button-size;

    &:active,
    &.audio_player_control__button__active {
        .audio_player_control__button__image {
            background-color: $button-image-active-background-color;
            //outline: 4px solid $main-text-color;
            //opacity: 0.5;
        }
    }

    &.audio_player_control__button__disabled {
        opacity: 0.75;
        pointer-events: none;
    }
}
