@import './../../../css/var';

$page-transition-time: 1000ms;

.page_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: $z-index-page-wrapper;
}

.main_content {
    flex-grow: 1;
}

.transition_enter {
    opacity: 0;
}

.transition_enter_active {
    opacity: 1;
    transition: opacity $page-transition-time;
}

.transition_exit {
    opacity: 1;
}

.transition_exit_active {
    opacity: 0;
    transition: opacity $page-transition-time;
}
