@import './../../../../../css/var';

.markdown {
    display: block;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: auto;
    }
}

.single_article__author {
    display: block;
    font-size: 16px;
    font-style: italic;
}

.single_article__read_also__wrapper {
    display: block;
    padding-top: $ui-unit * 2;
}

.single_article__read_also__header {
    display: block;
    font-size: 22px;
}

.single_article__read_also__list {
    display: block;
}

.single_article__read_also__item {
    display: block;

    &:before {
        content: '\2022';
        font-size: 16px;
    }
}

.single_article__read_also__item__link {
    display: inline-block;
    font-size: 16px;
    padding-bottom: $ui-unit / 2;
    padding-top: $ui-unit / 2;
    text-indent: $ui-unit;
}
