@import './../../../../css/service';
@import './../../../../css/var';

.footer_wrapper {
    align-items: center;
    background-color: $light-gray;
    border-top: 1px solid $gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: $ui-unit;
}

.footer__link {
    @extend %link;

    display: block;
    font-size: 16px;
    margin: $ui-unit / 2 $ui-unit;
    position: relative;
}
