.downloadable_image_list_article__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.downloadable_image_list_article__list_item {
    display: block;
    width: 50%;
}

.downloadable_image_list_article__list_item_link {
    display: block;
}

.downloadable_image_list_article__list_item_image {
    display: block;
}
