.downloadable_image_list_article__list {
    display: block;
}

.downloadable_image_list_article__list_item {
    display: block;
}

.downloadable_image_list_article__list_item_link {
    display: block;
}

.downloadable_image_list_article__list_item_image {
    display: block;
}
