@import '../field';

.input_markdown__wrapper {
    clear: both;
    display: block;
    position: relative;
    width: 100%;
}

%input-markdown--half {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    position: relative;
    width: 50%;
}

.input_markdown__text_area {
    @extend %input-markdown--half;

    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.input_markdown__result {
    @extend %input-markdown--half;

    margin-left: 50%;
    min-height: 152px;
}
