@import './../../../../css/var';

.breadcrumbs_list {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.breadcrumbs_separator {
    color: $main-text-color;
    display: block;
    font-size: 16px;
    padding: 0 0 $ui-unit;
}

.breadcrumbs_link {
    color: $main-text-color;
    display: block;
    font-size: 16px;
    padding: 0 $ui-unit $ui-unit * 2 $ui-unit;
}

.breadcrumbs_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &:first-child {
        .breadcrumbs_link {
            padding-left: 0;
        }
    }
}
