.home__wrapper {
    background-color: #ccc;
    background-image: url('image/empty.jpg');
    background-position: center center;
    background-size: cover;
    color: #fff;
    font-size: 26px;
    padding: 100px 10px;
    text-align: center;
}

.home__title_image {
    display: block;
    margin: 0 auto;
}

.home__category_list {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}

.home__category_link__wrapper {
    display: block;
}
