$main-font-family: Helvetica, 'MS Trebuchet', sans-serif;
//$main-font-family: 'Lucida Console', Monaco, monospace;
$main-font-size: 14px;
$main-line-height: 1.25;
$main-text-color: #333;

$z-index-header: 2;
$z-index-page-wrapper: 1;

$z-index-popup-wrapper: 200;
$z-index-popup: 201;

$ui-unit: 8px; // actually $mui-unit: 8px;
$client-desktop-header-height: 120px;
$client-tablet-header-height: 120px;
$client-mobile-header-height: 120px;
$cms-header-height: 64px;
$form-main-background-color: #0c72ed;

$max-width: 1200px;

$color-yellow: #f8e668;
$color-orange: #f8d88b;
$color-border: #444;
