@import './../../../css/var';

.main_wrapper {
    background-image: url('./image/main-bg.jpg');
    background-position: center center;
    flex-grow: 1;
    position: relative;

    .paper_wrapper {
        box-shadow: none;
        margin: 0;
    }
}
