/* stylelint-disable selector-pseudo-class-no-unknown */

@import './../../../css/var';

.main_wrapper {
    background-color: #fff;
    background-position: center center;
    flex-grow: 1;
    position: relative;

    .paper_wrapper {
        box-shadow: none;
        margin: 0;
    }
}

:global {
    .desktop {
        background-image: url('./image/main-bg.jpg');
    }
}
