/* stylelint-disable selector-pseudo-class-no-unknown */

@import './../../../css/var';

.main_wrapper {
    background-color: #394e64;
    background-position: center center;

    .paper_wrapper {
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }
}

:global {
    .loaded.desktop {
        background-image: url('./image/main-bg.webp');
    }
}
